/* Area Generale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F4F8;
}
/* Bootstrap override */
.bg-secondary {
    background-color: #F5F4F8!important;
}
.btn-warning {
    background-color: #FFEEDA!important;
}

/* Nav Area */
img.account-img {
    width: 45px;
}
button.nav_btn {
    padding: 0 12px;
}

/* Jumbotron Area */
.color_bg{
    background-color: #7550FE;
}
.jumbotron_text {
    font-size: 16pt;
    color: #BBA6FF;
}

/* Recomanded Area */
img.avatar-img {
    width: 30px;
}
/* Footer area */
footer {
    font-size: 12px;
}

/* Secondo esercizio settimanale */
.fa-bookmark:hover {
    background-color: black;
}
.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s linear 0.2s;
}